server/*.out.txt
server/cert/*.key
server/cert/*.csr
server/cert/*.pem
server/cert/*.ini
server/certbot/*
**/.terraform*
**/*.tfvars
**/terraform.tfstate*
server/build.sh
istaroth/packages
istaroth/public
