<style>
code { border: 1px solid #e6e6e6; border-radius: 3px; background-color: #f2f2f2; font-family: monospace; }
img { max-width: 100%; }
img.org-svg[alt] { vertical-align: middle; }
.src-sage::before { content: "Sage"; }
</style>
